<div class="container-fluid h-100 bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <h2>Log in</h1>    
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="row"> 
        <div class="col-md-4 offset-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",:class => 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row"> 
        <div class="col-md-4 offset-4">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <div class="row"> 
          <div class="col-md-4 offset-4">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= f.submit "Log in" %>
        </div>
      </div>  
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>
