
<h2 class="text-center pt-4">Customer Dashboard</h2>
<h6 class=" py-2 text-center"><%= link_to "Share Movie",  new_review_path %></h6>

<div class= "container">
  <div class="row">
    <% @reviews.each do |post| %>
      <div class= "col-md-4">
        <div class="card">
          <iframe class="card-img-top" height="315" src="https://www.youtube.com/embed/<%=post.movie.movie_url%>"></iframe>
          <div class="card-body">
            <h4 class="card-title"><%= post.movie.title%></h4>
            <p class="card-text">Description: <%= post.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Rating: <%= post.rating %></li>
          </ul>
          <div class="card-body">  
            <%= link_to "Edit", edit_review_path(post) %>
            <%= link_to "Delete", review_path(post), :method => :delete %>
          </div>
        </div> 
      </div>
    <% end %>
  </div>
</div>